# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: test commit

on:
  workflow_dispatch: # 添加手动触发支持
  # 添加触发条件，例如push或schedule
  # push:
  #   branches: [ main, develop ]
  # schedule:
  #   - cron: '0 0 * * *' # 每天运行

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    # - name: Checkout repository
    #   uses: actions/checkout@v4
    #   with:
    #     token: ${{ secrets.PAT }}  # 使用 Personal Access Token
    #     fetch-depth: 0  # 获取完整历史记录

    - uses: actions/checkout@v4

    - name: Create test file
      run: echo "+ test" >> hi.txt  # 创建或修改文件


    - name: Git Auto Commit
      uses: stefanzweifel/git-auto-commit-action@v7.1.0
      with:
        # Commit message
        commit_message: "test: add hi.txt"
        # Git branch name, where changes should be pushed too
        branch: ${{ github.ref_name }}  # 修复：使用当前分支而不是head_ref
        # Commit options
        commit_options: '--no-verify'
        # Name used for the commit user
        commit_user_name: 'github-actions[bot]'
        # Email address used for the commit user
        commit_user_email: '41898282+github-actions[bot]@users.noreply.github.com'
        # Push options
        push_options: '--force'


    - name: Log message
      run: echo "这个工作流是因为手动触发而运行的！"
