  # This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  workflow_dispatch: # 添加手动触发支持


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write


    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.PAT }}  # 使用 Personal Access Token
    - name: Use Node.js
    - run: echo 1 >> hi.txt
    - name: Commit and Push
    - name: Git Auto Commit
  # You may pin to the exact commit or the version.
  # uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
      uses: stefanzweifel/git-auto-commit-action@v7.1.0
      with:
        # Commit message
        commit_message: "test:hi.txt"
        # Git branch name, where changes should be pushed too. Required if Action is used on the `pull_request` event
        branch: ${{ github.head_ref }}
        # Commit options (eg. --no-verify)
        commit_options:  --no-verify



        # Name used for the commit user
        commit_user_name: github-actions[bot]
        # Email address used for the commit user
        commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com



        # Push options (eg. --force)
        push_options: --force 
        # Skip the check if the git repository is dirty and always try to create a commit.



